// _sprite.style will be imported if there are images in content/spritesrc

$retina = 'only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)'

body
  margin: 0
  padding: 0
  min-height: 100%
  background: yellow
  box-sizing: border-box
  color: white
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
  font-size: 14px
  line-height: 1.42857143


#container
  position: absolute
  height: 100%
  width: 100%

.splash, .main
  position: absolute
  top: 0
  left: 0
  display: flex
  flex-flow: row wrap
  height: 100%
  width: 100%
  text-align: center
  background-color: yellow
  font-size: 30px

.splash > *, .main > *
  flex: 1 100%
  padding: 10px

.splash
  z-index: -99

.main
  z-index: 0

.aside
  flex: 1 auto
.content
  flex: 0 auto
.aside-1
  order: 1
.content
  order: 2
.aside-2
  order: 3
.footer
  order: 4

.header
  background-color: red

.aside-1
  background-color: blue

.content
  background-color: black

.logo
  width: 200px
  height: 200px
  background-image: url('content/images/sfeagle-logo.png')
  background-size: 200px 200px
  @media $retina
    width: 400px !important
    height: 400px !important
    background-image: url('content/images/sfeagle-logo2x.png')
    background-size: 400px 400px

.aside-2
  background-color: green

.footer
  background-color: orange

.fade 
   transition: opacity 1.5s ease-in
   
